<h3 class="pa-2"> Backend Developer </h3>

<p class="mt-4">Alrasheed Fath Alrahman </p>


<h3> Note </h3>

<p class="mt-4"> 
    In Project U Cannot Finds The .sln 
    Cuz I Work On Ubuntu 22.04 
    ANd I Have Some Confused Cuz You arn't specfic How Tasks For Employee Can Work Or Assigned To Him
    Cuz That I Put Many To Many 
    And Not Metioned The Auth Operation but actuily I Get Jwt With Identity 
    Also I am Mentioned 3 Connection string only to shoing that , i can do 
    thank 
    i am not focos about dessign soory for that     

</p>
